<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete publisher</h1>
    <br>
    <form action="/deletePublisher" method="POST" >
    <label for="idPublish">publisher id:</label>
    <input type="text" id="idPublish" name="idPublish" required>
    <button type="submit">delete publisher</button>
</body>
</html>