<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete series</h1>
    <br>
    <form action="/deleteSeries" method="POST" >
    <label for="idSeries">genre id:</label>
    <input type="text" id="idSeries" name="idSeries" required>
    <button type="submit">delete series</button>
</body>
</html>