<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete comic</h1>
    <br>
    <form action="/deleteComic" method="POST" >
    <label for="idComic">genre id:</label>
    <input type="text" id="idGenre" name="idComic" required>
    <button type="submit">delete comic</button>
</body>
</html>