<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete genre</h1>
    <br>
    <form action="/deleteGenre" method="POST" >
    <label for="idGenre">genre id:</label>
    <input type="text" id="idGenre" name="idGenre" required>
    <button type="submit">delete genre</button>
</body>
</html>