<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Create genre</h1>
  <form action="/genre" method="POST" >
    <label for="genre">Comic genre:</label>
    <input type="text" id="genre" name="genre" required>
    <br>
    </select>
    <br>
    <button type="submit">Create genre</button>
  </form>
</body>
</html>