<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Create</h1>
  <br>
  <a href="/comics">comics</a>
  <br>
  <a href="/genre">genre</a>
  <br>
  <a href="/people">people</a>
  <br>
  <a href="/characters">characters</a>
  <br>
  <a href="/series">series</a>
  <br>
  <a href="/publisher">publisher</a> 
  <br>
  <a href="/pages">pages</a>
  <br>
  <h1>Delete</h1>
  <a href="/deleteGenre">genre</a>
  <br>
  <a href="/deleteComic">comics</a>
  <br>
  <a href="/deleteCharacter">characters</a>
  <br>
  <a href="/deletePage">pages</a>
  <br>
  <a href="/deletePeople">people</a>
  <br>
  <a href="/deletePublisher">publisher</a>
  <br>
  <a href="/deleteSeries">series</a>
</body>
</html>