<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Create pages</h1>
  <form action="/pages" method="POST" >
    <label for="pCount">page number:</label>
    <input type="text" id="pCount" name="pCount" required>
    <br>
    </select>
    <br>
    <button type="submit">Create pages</button>
  </form>
</body>
</html>