<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Create publisher</h1>
  <form action="/publisher" method="POST" >
    <label for="company">company name:</label>
    <input type="text" id="company" name="company" required>
    <br>
    </select>
    <br>
    <button type="submit">Create publisher</button>
  </form>
</body>
</html>