<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Create series</h1>
  <form action="/series" method="POST" >
    <label for="series">series name:</label>
    <input type="text" id="series" name="series" required>
    <br>
    </select>
    <br>
    <button type="submit">Create series</button>
  </form>
</body>
</html>